body {
  font-family: sans-serif;
  box-sizing: border-box;
}

#black-card {
  overflow-wrap: break-word;
  color: #fff;
  font-weight: bold;
  min-width: 4.32cm;
  min-height: 10cm;
  font-size: 1.25em;
  text-align: left;
  vertical-align: top;
  background-color: #000;
}

#white-card {
  overflow-wrap: break-word;
  color: #000;
  font-weight: bold;
  min-width: 4.32cm;
  min-height: 10cm;
  font-size: 1.25em;
  text-align: left;
  vertical-align: top;
  background-color: #fff;
}

#grace {
  font-size: 50px;
  text-decoration: none;
  font-family: 'Bangers', cursive;
  color: #dd4b39;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
